:root {
  --title-color: #212121;
  --active-linc-color: #2196f3;
  --text-color: #757575;
  --header-white: #ffffff;
  --background-team: #f5f4fa;
  --background-footer-color: #2f303a;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--title-color, black);
  font-size: 14px;
  font-weight: normal;
  line-height: 1.14;
}

/* !!! Header and Footer !!! */

.header {
  background-color: var(--header-white, white);
  font-weight: 500;
}

.footer {
  color: var(--header-white, white);
  background-color: var(--background-footer-color, black);
  line-height: 1.7;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  color: var(--active-linc-color, lightblue);
}

.logo__header {
  color: var(--title-color, black);
}

.logo__footer {
  color: var(--header-white, white);
}

.nav__link {
  text-decoration: none;
  color: var(--title-color, black);
}

.contact {
  text-decoration: none;
  color: var(--text-color, gray);
}

.nav__link:hover,
.nav__link:focus,
.contact:hover,
.contact:focus {
  color: var(--active-linc-color, lightblue);
}

/* !!! Main block !!! */

.section__main {
  color: var(--header-white);
  background-color: var(--background-footer-color, gray);
  width: 1600px;
  height: 600px;
}

.main__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.36;
}

.main__button {
  color: var(--header-white, white);
  background-color: var(--active-linc-color, lightblue);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.87;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

/* !!! Features, Pictures and Team block !!! */

.title {
  font-size: 36px;
  line-height: 1.16;
}

.features__text {
  color: var(--text-color, gray);
  line-height: 1.7;
}

.section__team {
  background-color: var(--background-team);
}

.team__item {
  background-color: var(--header-white, white);
  line-height: 1.19;
}

.team__name {
  font-size: 16px;
  font-weight: 500;
}

.team__prof {
  color: var(--text-color, gray);
}

/* !!! Portfolio -> Filter block !!! */

.filter__button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--title-color, black);
  background-color: var(--background-team);
  cursor: pointer;
}

.filter__button:hover,
.filter__button:focus {
  color: var(--header-white, white);
  background-color: var(--active-linc-color, lightblue);
}

/* !!! Portfolio -> Portfolio block !!! */

.portfolio__title {
  font-size: 18px;
  line-height: 2;
}

.portfolio__specialization {
  font-size: 16px;
  line-height: 1.87;
}
